
/* ******************* CSS Variables ************************** */
:root {
    --primary-background: #BFACC8;
    --primary-accent: #4F1271;
    --hover-primary-accent: #a9a6be;
    --primary-font: black;
    --alternate-background: whitesmoke;
    --header-footer-background: #4A4063;
    --header-footer-font: whitesmoke;
}

/* ************************ Reset ************************* */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

/* ******************** Page level styles ********************* */
body {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-font);
    background-color: var(--primary-background);
}

/* ******************** HEADER and FOOTER ********************* */
.page-header, .page-footer {
    color: whitesmoke;
    background-color: var(--header-footer-background);  
    letter-spacing: 1px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}

.page-footer {
    padding: 2rem 1.5rem
}

.footer-links-container {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.footer-link-item {
    margin: 0.5rem
}
 
.page-menu-container {
    list-style-type: none;
    display: flex;

}

.page-menu-item {
    margin: 0.5rem;
}

.page-menu-link {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
}


.page-menu-link:hover {
    color:var(--hover-primary-accent);
}

/* ******************** main ********************* */
.bg-dark {
    background-color: whitesmoke;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    padding: 1.5rem;
}

.profile-image {
    border-radius: 50%;
}

.profile-heading {
    margin: 1rem;
}

.profile-tagline {
    margin: .5rem
}

.skill-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-card {
    border: 5px double var(--primary-font);
    padding: 1rem; 
    width: 250px
}

.skill-list {
    list-style-type: none;

}